# Input data files
*.csv
*.json
!package*.json
!schema/*.json
top2000-*.html
wiki*.html
*.odt
*.ods
*.pdf
*.xls
*.xlsx
.~lock.*

# Development files
*~
__pycache__
*.pyc
env/
mypy-report/

# Node.js package files
dist/
node_modules/
