$mini: 384px;
$fullhd: 1648px;
$ultrahd: 1744px;
@forward "bulma/sass/utilities" with ($fullhd: $fullhd);
@use "bulma/sass/utilities/initial-variables" as iv;
@use "bulma/sass/utilities/css-variables" as cv;
@use "bulma/sass/utilities/mixins" as mixins;
@forward "bulma/sass/base";
@forward "bulma/sass/components/dropdown";
@forward "bulma/sass/components/modal";
@forward "bulma/sass/components/pagination";
@forward "bulma/sass/components/tabs" with ($tabs-link-padding: 0.5em);
@forward "bulma/sass/elements/block";
@forward "bulma/sass/elements/box";
@forward "bulma/sass/elements/button";
@forward "bulma/sass/elements/content";
@forward "bulma/sass/elements/icon";
@forward "bulma/sass/elements/table";
@forward "bulma/sass/elements/title";
@forward "bulma/sass/form/file";
@forward "bulma/sass/form/input-textarea";
@forward "bulma/sass/form/tools";
@forward "bulma/sass/grid/columns";
@forward "bulma/sass/helpers";
@forward "bulma/sass/layout/container";
@forward "bulma/sass/layout/level";
@forward "bulma/sass/layout/section";
@forward "bulma/sass/themes";

.column {
    @include mixins.tablet-only {
        &.is-narrow-tablet-only {
            flex: none;
            width: unset;
        }
        &.is-full-tablet-only {
            flex: none;
            width: 100%;
        }
    }
    @include mixins.desktop-only {
        &.is-narrow-desktop-only {
            flex: none;
            width: unset;
        }
        &.is-full-desktop-only {
            flex: none;
            width: 100%;
        }
    }
    @include mixins.widescreen-only {
        &.is-narrow-widescreen-only {
            flex: none;
            width: unset;
        }
        &.is-full-widescreen-only {
            flex: none;
            width: 100%;
        }
    }
}
@include mixins.between($fullhd, $ultrahd) {
    .is-hidden-fullhd-only {
        display: none !important;
    }
}
.dropdown {
    @include mixins.widescreen {
        &.is-hoverable-widescreen:hover {
            .dropdown-menu {
                display: block;
            }
        }
        &.is-right-widescreen {
            .dropdown-menu {
                left: auto;
                right: 0;
            }
        }
    }
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

$head-light: #88bddb;
$head-dark: #002442;
@include cv.system-theme($name: "light") {
  #head-container {
    background-color: $head-light;
    .pagination-next.track:not(.is-hidden) {
      background-color: var(--bulma-danger-light);
    }
  }
}
#head-container {
    position: sticky;
    top: 0px;
    z-index: 10;
    max-width: 100vw;
    overflow: hidden;
    background-color: $head-dark;
    html[data-theme="dark"] & {
      background-color: $head-dark;
    }
    html[data-theme="light"] & {
      background-color: $head-light;
    }
    .tabs {
        ul {
            @include mixins.mobile {
                justify-content: center;
            }
            @include mixins.between(iv.$desktop, $fullhd) {
                justify-content: center;
            }
        }
        a .icon:first-child {
            margin-inline-end: 0;
        }
    }
    .pagination-previous,
    .pagination-next,
    .pagination-link {
        border-color: iv.$grey;
        color: iv.$white-ter;
    }
    .pagination-next.track:not(.is-hidden) {
        order: 0;
        min-width: 100%;
        width: 0;
        overflow: hidden;
        background-color: var(--bulma-danger-dark);
        color: var(--bulma-danger-bold);
        html[data-theme="dark"] & {
          background-color: var(--bulma-danger-dark);
        }
        html[data-theme="light"] & {
          background-color: var(--bulma-danger-light);
        }
        @include mixins.mobile {
            flex-shrink: 0;
            min-width: 200vw;
            display: inline-block;
            padding-left: 100%;
            animation: marquee 10s linear infinite;
        }
    }
    input.pagination-next:invalid {
      border-color: iv.$red;
    }
}
table {
    &.main, &.chart, &.search {
        & > thead th:first-child, & > tbody > tr:not(.info) > td:first-child {
            text-align: right;
        }
    }
}
table.main {
    @include mixins.until($mini) {
        font-size: iv.$size-7;
    }
    & > thead {
        position: sticky;
        top: 4.92rem;
        z-index: 10;
        background-color: inherit;
        @include mixins.tablet-only {
            top: 2.45rem;
        }
        @include mixins.fullhd {
            top: 2.46rem;
        }
    }
    .is-selected, .is-hour-start {
      & > td {
        border-color: iv.$grey;
      }
    }
    .info {
        & > td {
            padding: .25em .25em 1em .5em;
            & > .columns {
                max-width: 100vw;
                & > .column {
                    max-width: 100vw;
                }
            }
        }
        .progression {
            overflow: auto;
            .x-extra, .y-current-year {
              stroke-dasharray: 4;
            }
        }
        .container.artist-chart {
            max-width: fit-content;
            table.chart {
                margin: 0 auto;
                .is-selected {
                    font-weight: bold;
                }
            }
        }
    }
}
#charts {
   .chart {
       overflow: auto;
   }
}
#search {
    .modal-content {
        .box {
            min-height: 26.86rem;
        }
    }
}
#upload .file-label {
  min-width: 100%;
  text-align: center;
  .file-cta {
    border-width: 0.2rem;
    &.drag {
      border-style: dashed;
    }
  }
}
@include mixins.tablet {
    .level {
        .level-item:not(:last-child)::after {
            content: "\00a0\00a0\00b7";
        }
    }
}
